include LICENSE
include README.md
include RELEASING.md
include CHANGELOG.md
include pyproject.toml
recursive-include azol *
prune tests
prune scripts
prune .github
prune docs
prune site
global-exclude *.py[cod] __pycache__ *.so .env*
